/*civil law page 5 style */
.consumer-protection-law {
  position: absolute;
  top: 183px;
  left: 238px;
  font-size: var(--font-size-21xl);
  color: rgba(0, 0, 0, 0.95);
  text-align: justify;
  display: inline-block;
  width: 803px;
  height: 64px;
}
.the-consumer-protection {
  margin-block-start: 0;
  margin-block-end: 1.4px;
}
.protecting-consumer-rights {
  font-size: var(--font-size-xl);
  font-family: var(--font-mplus-1p-bold);
}
.protecting-consumer-rights-in1 {
  margin-bottom: 0;
}
.protecting-consumer-rights-in {
  margin: 0;
  padding-left: var(--padding-8xl);
}
.objective {
  margin-block-start: 0;
  margin-block-end: 1.4px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-mogra);
}
.the-consumer-protection-container {
  position: absolute;
  top: 287px;
  left: 238px;
  text-align: justify;
  display: inline-block;
  width: 1043px;
  height: 2200px;
  font-size: var(--font-size-base);
  font-family: var(--font-microsoft-sans-serif);
}
.image-1-icon,
.image-2-icon {
  position: absolute;
  top: 550px;
  left: 543px;
  width: 472px;
  height: 302px;
  object-fit: cover;
}
.image-2-icon {
  top: 1598px;
  left: 390px;
  width: 703px;
  height: 379px;
}
.civil-law-p-5-child,
.civil-law-p-5-inner,
.civil-law-p-5-item {
  position: absolute;
  top: 79px;
  left: 59px;
  background-color: var(--color-gainsboro);
  border: 4px solid var(--color-saddlebrown);
  box-sizing: border-box;
  width: 177px;
  height: 51px;
}
.civil-law-p-5-inner,
.civil-law-p-5-item {
  left: 250px;
}
.civil-law-p-5-inner {
  left: 441px;
}
.indian-property-law {
  position: absolute;
  top: 89px;
  left: 68px;
  display: inline-block;
  width: 144px;
  height: 41px;
}
.civil-law-p-5-child1,
.civil-law-p-5-child2,
.rectangle-div {
  position: absolute;
  top: 79px;
  left: 632px;
  background-color: var(--color-gainsboro);
  border: 4px solid var(--color-saddlebrown);
  box-sizing: border-box;
  width: 177px;
  height: 51px;
}
.civil-law-p-5-child1,
.civil-law-p-5-child2 {
  left: 823px;
}
.civil-law-p-5-child2 {
  left: 1014px;
}
.partition-act-1893,
.registration-act-1908,
.transfer-of-property {
  position: absolute;
  top: 93px;
  left: 261px;
  display: inline-block;
  width: 155px;
  height: 91px;
}
.partition-act-1893,
.registration-act-1908 {
  left: 466px;
  width: 132px;
  height: 87px;
}
.partition-act-1893 {
  top: 95px;
  left: 640px;
  width: 154px;
  height: 192px;
  font-size: 13px;
}
.consumer-protection-law1,
.the-drugs-and,
.the-prevention-of {
  position: absolute;
  top: 95px;
  left: 844px;
  display: inline-block;
  width: 135px;
  height: 92px;
}
.the-drugs-and,
.the-prevention-of {
  top: 88px;
  left: 1025px;
  width: 158px;
  height: 134px;
}
.the-prevention-of {
  top: 90px;
  left: 1215px;
  font-size: 12px;
  width: 155px;
  height: 87px;
}
.civil-law-p-5-child3 {
  position: absolute;
  top: 79px;
  left: 1204px;
  background-color: var(--color-gainsboro);
  border: 4px solid var(--color-saddlebrown);
  box-sizing: border-box;
  width: 177px;
  height: 51px;
}
.civil-law-p-5 {
  position: relative;
  background-color: #fff;
  border: 30px solid var(--color-saddlebrown);
  box-sizing: border-box;
  width: 100%;
  height: 2473px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-mogra);
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-mogra: Mogra;
  --font-mplus-1p-bold: "Mplus 1p Bold";
  --font-microsoft-sans-serif: "Microsoft Sans Serif";

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-saddlebrown: #4c1c01;
  --color-gainsboro: rgba(217, 217, 217, 0);
  --color-black: #000;

  /* Paddings */
  --padding-8xl: 27px;
}






a {
  color: black; /* Set text color to black */
  text-decoration: none; /* Remove underlines */
}
